<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord -- 2</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <p id="usuario-logado">timoty33</p>
    <div class="chat" id="chat"></div>
    <div class="campo-digitação">
      <input id="input" class="input" placeholder="Digite sua mensagem" />
      <button class="enviar" onclick="enviarMensagem()" id="enviar">
        <span class="text">Enviar</span>
      </button>
    </div>
    <div class="final">
      <p>Todos os direitos reservados: timoty33</p>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
